* {
    /* means the width sizing includes border*/
    box-sizing: border-box;
    margin: 0;
}

h1 {
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #c90100;
    padding-bottom: 20px;
}

p{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #4a5541;
}

img {
    /* required to work with the flex: 1 column setting */
    width: 100%;
    display: block;
}

#header {
    padding: 30px;
    text-align: center;
}

#row {
    /* use flexbox to layout a row or column */
    display: flex;
    /* use row for initial layout */
    flex-direction: row;
    /* creates extra rows */
    flex-wrap: wrap;
}

.column {
    /* makes child column have equal width, regardless of individual content width */
    flex: 1;
}

@media screen and (max-width: 900px) {
    .column {
        /* if the viewport is below 900px, make the minimum width of a column 50% of its parent (the row) - i.e. reduce from 4 to 2 columns */
        min-width: 50%;
    }
}

@media screen and (max-width: 500px) {
    .column {
        /* if the viewport is below 500px, make the minimum width of a column 100% of its parent (the row) - i.e. reduce to one long column */
        min-width: 100%
    }
    .row{
        /* change the flex direction to column */
        flex-direction: column;
    }
    h1{
        /* increase the font sizes to improve legibility on smaller screens */
        font-size: 4rem;
    }
    p{
        font-size: 1.4rem;
    }
}